<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kitten vs Puppy</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    
   <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container"><a href="/" class="navbar-brand text-uppercase font-weight-bold">Kitten vs Puppy</a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
            
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a href="/upload" class="nav-link text-uppercase font-weight-bold">Uploaded</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
  <div class="container-fluid">
    <div class="row">
      <div class="col image-prediction">
        <img class="pred_img" src="{{ url_for('send_file', filename=image_file_name)}}" />
      </div>
      <div class="col text-prediction">

        <h1 id="pred">
          This is a
        </h1>

        <h1 class="box" id="label">
          {{ label }}
        </h1>
        
        <h2>
          Confidence: <span>{{prob}}%</span>
        </h2>
        <br>
        <a href="/" class="btn btn-primary"> Home</a>
      </div>
    </div>
  </div>
  <script src="/static/script.js"></script>
</body>

</html>